src/edu.teco.dpws.generator/examples/SensorValues.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
   xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://www.teco.edu/SensorValues" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing"
	xmlns:ssimp="http://www.teco.edu/SSimp"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SensorValues"
	targetNamespace="http://www.teco.edu/SensorValues"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ ../model/wsdl11.xsd"
	>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ssimp="http://www.teco.edu/SSimp">
			<import namespace="http://www.teco.edu/SSimp" schemaLocation="SSimp.xsd"/>
		</schema>
	</wsdl:types>
	
   <wsdl:message name="GetSensorValuesMessageIn" />
   <wsdl:message name="GetSensorValuesMessageOut">
      <wsdl:part name="parameters" element="ssimp:SensorValues" />
   </wsdl:message>
	<wsdl:message name="SensorValuesEventMessageOut">
      <wsdl:part name="parameters" element="ssimp:SensorValues" />
   </wsdl:message>
   
	<wsdl:portType name="SensorValuesPort" wse:EventSource="true">
	   <wsdl:operation name="GetSensorValues">
         <wsdl:input message="tns:GetSensorValuesMessageIn"
            wsa:Action="http://www.teco.edu/SensorValues/GetSensorValuesIn" />
         <wsdl:output message="tns:GetSensorValuesMessageOut"
            wsa:Action="http://www.teco.edu/SensorValues/GetSensorValuesOut" />
      </wsdl:operation>
		<wsdl:operation name="SensorValuesEvent">
         <wsdl:output message="tns:SensorValuesEventMessageOut"
            wsa:Action="http://www.teco.edu/SensorValues/SensorValuesEventOut" />
      </wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="SensorValuesSOAP" type="tns:SensorValuesPort">
		<wsoap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="GetSensorValues">
         <wsoap12:operation />
         <wsdl:input>
            <wsoap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <wsoap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SensorValuesEvent">
         <wsoap12:operation />
         <wsdl:output>
            <wsoap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
		
	</wsdl:binding>
	
	<wsdl:service name="SensorValues">
      <wsdl:port name="SensorValuesPort" binding="tns:SensorValuesSOAP">
         <wsoap12:address location="" />
      </wsdl:port>
   </wsdl:service>
   
</wsdl:definitions>
