src/DPWSExample/src/SensorValues.wsdl

<wsdl:definitions xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://aletheia-projekt.de/iot/SensorValues" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"

	xmlns:wsa_="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"

	xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"

	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SensorValues"
	targetNamespace="http://aletheia-projekt.de/iot/SensorValues">
	<wsdl:types>
		<xsd:schema targetNamespace="http://aletheia-projekt.de/iot/SensorValues" xmlns:tns="http://aletheia-projekt.de/iot/SensorValues" xmlns="http://aletheia-projekt.de/iot/SensorValues">
		<xsd:include  schemaLocation="SensorValues.xsd" />	
		</xsd:schema>
    </wsdl:types>

	<wsdl:message name="GetSensorValuesMessageIn" />
	
	<wsdl:message name="GetSensorValuesMessageOut">
		<wsdl:part name="out" element="tns:Series" />
	</wsdl:message>
	
	<wsdl:message name="SensorValuesEventMessageOut">
		<wsdl:part name="event" element="tns:Series" />
	</wsdl:message>

    <wsdl:message name="Empty" />
    
	<wsdl:message name="ConfigRequest">
		<wsdl:part name="in" element="tns:Config"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="ConfigResponse">
		<wsdl:part name="out" element="tns:Config"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SensorValues" wse:EventSource="true">
		<wsdl:operation name="GetSensorValues">
			<wsdl:input message="tns:GetSensorValuesMessageIn"
				wsa:Action="http://www.teco.edu/SensorValues/GetSensorValuesIn" />
			<wsdl:output message="tns:GetSensorValuesMessageOut"
				wsa:Action="http://www.teco.edu/SensorValues/GetSensorValuesOut" />
		</wsdl:operation>

		<wsdl:operation name="SensorValuesEvent">
			<wsdl:output message="tns:SensorValuesEventMessageOut"
				wsa:Action="http://www.teco.edu/SensorValues/SensorValuesEventOut" />
		</wsdl:operation>


		<wsdl:operation name="GetConfig">
			<wsdl:input message="tns:Empty"
				wsa:Action="http://www.teco.edu/SensorValues/GetConfigRequest" />
			<wsdl:output message="tns:ConfigResponse"
				wsa:Action="http://www.teco.edu/SensorValues/GetConfigResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="SetConfig">
			<wsdl:input message="tns:ConfigRequest"
				wsa:Action="http://www.teco.edu/SensorValues/SetConfigRequest" />
			<wsdl:output message="tns:ConfigResponse"
				wsa:Action="http://www.teco.edu/SensorValues/SetConfigResponse" />
		</wsdl:operation>
			
	</wsdl:portType>

	<wsdl:binding name="SensorValuesSOAP" type="tns:SensorValues">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetSensorValues">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SensorValuesEvent">
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetConfig">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="SetConfig">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SensorValues">
		<wsdl:port name="SensorValues" binding="tns:SensorValuesSOAP">
			<wsoap12:address location="http://localhost:8080" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
