bundles/DataModeling/trunk/src/edu.teco.dpws.example/src/SensorValues.wsdl

<wsdl:definitions xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://www.teco.edu/SensorValues" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="SensorValues" targetNamespace="http://www.teco.edu/SensorValues"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://www.teco.edu/SensorValues">
			<complexType name="GravityType">
				<sequence>
					<element name="AcclValue" type="short" />
					<element name="AcclIdx" type="unsignedByte" />
				</sequence>
			</complexType>
			<complexType name="LightType">
				<sequence>
					<element name="LightValue" type="unsignedByte" />
					<element name="LightIdx" type="unsignedByte" />
				</sequence>
			</complexType>
			<complexType name="ForceType">
				<sequence>
					<element name="ForceValue" type="unsignedByte" />
					<element name="ForceIdx" type="unsignedByte" />
				</sequence>
			</complexType>
			<complexType name="TempType">
				<sequence>
					<element name="TempValue" type="byte" />
					<element name="TempIdx" type="unsignedByte" />
				</sequence>
			</complexType>
			<complexType name="SensorValuesType">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="AcclX" type="tns:GravityType" />
					<element maxOccurs="1" minOccurs="0" name="AcclY" type="tns:GravityType" />
					<element maxOccurs="1" minOccurs="0" name="AcclZ" type="tns:GravityType" />
					<element maxOccurs="1" minOccurs="0" name="Audio" type="unsignedByte" />
					<element maxOccurs="1" minOccurs="0" name="Light" type="tns:LightType" />
					<element maxOccurs="1" minOccurs="0" name="AmbientLight"
						type="tns:LightType" />
					<element maxOccurs="1" minOccurs="0" name="Force" type="tns:ForceType" />
					<element maxOccurs="1" minOccurs="0" name="Temperature"
						type="tns:TempType" />
					<element maxOccurs="1" minOccurs="0" name="Voltage" type="unsignedShort" />
				</sequence>
			</complexType>
			<element name="SensorValues" type="tns:SensorValuesType" />
			
			<complexType name="SensorConfigurationType">
				<sequence>
					<element name="sensors" type="tns:SensorSelectionType" />
				</sequence>
			</complexType>
			
			<complexType name="GravitySensorConfigType">
			<sequence>
			  <element maxOccurs="1" minOccurs="1" name="rate" type="short" />
			</sequence>
			</complexType>
			
			<complexType name="LightSensorConfigType">
			 <sequence>
			  <element maxOccurs="1" minOccurs="1" name="rate" type="short" />
			</sequence>
			</complexType>
			
			<complexType name="ForceSensorConfigType">
			 <sequence>
			  <element maxOccurs="1" minOccurs="1" name="rate" type="short" />
			</sequence>
			</complexType>
			
			<complexType name="TempSensorConfigType">
			 <sequence>
			  <element maxOccurs="1" minOccurs="1" name="rate" type="short" />
			</sequence>
			</complexType>
			
			<complexType name="AudioSensorConfigType">
			 <sequence>
			  <element maxOccurs="1" minOccurs="1" name="rate" type="short" />
			</sequence>
			</complexType>
			
			
			<complexType name="SensorSelectionType">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="AcclX" type="tns:GravitySensorConfigType" />
					<element maxOccurs="1" minOccurs="0" name="AcclY" type="tns:GravitySensorConfigType" />
					<element maxOccurs="1" minOccurs="0" name="AcclZ" type="tns:GravitySensorConfigType" />
					<element maxOccurs="1" minOccurs="0" name="Audio" type="tns:AudioSensorConfigType" />
					<element maxOccurs="1" minOccurs="0" name="Light" type="tns:LightSensorConfigType" />
					<element maxOccurs="1" minOccurs="0" name="AmbientLight"	type="tns:LightSensorConfigType" />
					<element maxOccurs="1" minOccurs="0" name="Force" type="tns:ForceSensorConfigType" />
					<element maxOccurs="1" minOccurs="0" name="Temperature"		type="tns:TempSensorConfigType" />
					<element maxOccurs="1" minOccurs="0" name="Voltage" type="tns:ForceSensorConfigType" />
				</sequence>
			</complexType>
			
			<element name="SensorConfiguration" type="tns:SensorConfigurationType" />	
			   
        </schema>
	</wsdl:types>

	<wsdl:message name="GetSensorValuesMessageIn" />
	<wsdl:message name="GetSensorValuesMessageOut">
		<wsdl:part name="parameters" element="tns:SensorValues" />
	</wsdl:message>
	<wsdl:message name="SensorValuesEventMessageOut">
		<wsdl:part name="parameters" element="tns:SensorValues" />
	</wsdl:message>

	<wsdl:message name="ConfigureSensorsRequest">
		<wsdl:part name="parameters" element="tns:SensorConfiguration"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="ConfigureSensorsResponse">
	</wsdl:message>
	
	<wsdl:portType name="SensorValuesPort" wse:EventSource="true">
		<wsdl:operation name="GetSensorValues">
			<wsdl:input message="tns:GetSensorValuesMessageIn"
				wsa:Action="http://www.teco.edu/SensorValues/GetSensorValuesIn" />
			<wsdl:output message="tns:GetSensorValuesMessageOut"
				wsa:Action="http://www.teco.edu/SensorValues/GetSensorValuesOut" />
		</wsdl:operation>
		
		<wsdl:operation name="SensorValuesEvent">
			<wsdl:output message="tns:SensorValuesEventMessageOut"
				wsa:Action="http://www.teco.edu/SensorValues/SensorValuesEventOut" />
		</wsdl:operation>

		<wsdl:operation name="ConfigureSensors">
			<wsdl:input message="tns:ConfigureSensorsRequest" wsa:Action="http://www.teco.edu/SensorValues/ConfigureSensorsIn" />
			<wsdl:output message="tns:ConfigureSensorsResponse" wsa:Action="http://www.teco.edu/SensorValues/ConfigureSensorsOut" />
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="SensorValuesSOAP" type="tns:SensorValuesPort">
		<wsoap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetSensorValues">
			<wsoap12:operation />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	   <wsdl:operation name="ConfigureSensors">
			<wsoap12:operation />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SensorValuesEvent">
			<wsoap12:operation />
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="SensorValues">
		<wsdl:port name="SensorValuesPort" binding="tns:SensorValuesSOAP">
			<wsoap12:address location="" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
